.table-scroll-container {
  flex: 1;
  overflow: auto;
  min-height: 0;
  height: 100%;
  position: relative;
  border-left: 1px solid #1acf6c;
}

.main-table {
  border-collapse: collapse;
  font-weight: 400;
  background: #32323f;
  user-select: none;
  white-space: nowrap;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.main-table th {
  position: sticky;
  top: 0;
  background: #262633;
  padding: 8px;
  outline: 0.5px solid #6b6b78;
  outline-offset: -0.5px;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-table td {
  border: 0.5px solid #6b6b78;
  text-align: left;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-table tr:nth-child(even) {
  background: #262633;
}

.main-table td:hover {
  background: #424258;
}

.selected-cell {
  outline: 1px solid #1acf6c;
  outline-offset: -1.4px;
  z-index: 10;
}

.selected-range {
  background-color: #1a573a85;
}

.selection-info {
  height: 2rem;
  border-top: 1px solid #6b6b78;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  flex-shrink: 0;
  font-size: 14px;
  gap: 1rem;
  background: #32323f;
}

.cols_and_rows,
.totalCount {
  background: #6b6b7894;
  padding: 0 1rem;
  border-radius: 5px;
}

.cell-content {
  padding: 0.3rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}