.table-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.table-modal-content {
  background: #32323f;
  width: 90%;
  height: 90%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.table-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  color: #fff;
}

.table-modal-header button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}