/* Импортируем готовый CSS шрифта Satoshi */
@import './assets/fonts/WEB/css/satoshi.css';

:root {
  /* Указываем Satoshi основным шрифтом приложения */
  --font-base: 'Satoshi', -apple-system, BlinkMacSystemFont;

  /* Твои цвета и переменные темы */
  --color-bg-main: #262633;
  --color-bg-panel: #32323F;
  --color-bg-header: #32323F;
  --color-border: #57575F;
  --color-border-subtle: #69697D;

  --color-text-primary: #EFEFEF;
  --color-text-secondary: #A4A4A4;
  --color-text-highlight: #FFFFFF;

  --color-primary: #1DA270;
  --color-primary-hover: #157A54;
  --color-hover: #6f6f7566;

  --scroll-bar-fg: #6B6B6B;
  --scroll-bar-bg: #2B2B2B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  font-size: 13px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}